doctype html
html(lang="en")
head
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	block title
		title Hello
	meta(name="viewport", content="width=device-width, initial-scale=1")
	block styles
		link(rel="stylesheet", href="/css/the.css")

body.page
	header.page-header
		block header
			h1 Hello

	section.page-content
		block content

	footer.page-footer(role="contentinfo")
		block footer

	block scripts
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")

