*,
*::after,
*::before {
	box-sizing: border-box
}
html,
body {
	font: 1em/1.5 Lato, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0
}
body {
	background: #000;
	color: rgb(228, 195, 0);
	padding: 1em;
	text-align: center
}
a {
	color: rgb(156, 228, 0)
}
a:hover,
a:focus,
a:active {
	color: rgb(195, 255, 0);
	transition: color 0.2s
}
img {
	height: auto;
	max-width: 100%;
	width: auto
}
h1 {
	font-size: 2em;
	font-weight: 400;
	margin: 0
}
form {
	background: rgba(255, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	margin: 0.5em -1em 1.5em;
	padding: 0.5em 1em
}
button,
input,
select {
	background: rgba(255, 255, 255, 0.15);
	border: 0;
	border-bottom: 2px solid rgb(228, 195, 0);
	box-sizing: border-box;
	color: inherit;
	display: block;
	font: inherit;
	line-height: inherit;
	margin: 0 0.25em;
	padding: 0.25em 0.5em
}
input {
	width: 20em
}
button {
	background: rgba(228, 195, 0, 0.75);
	border-bottom: 0;
	color: #000;
	cursor: pointer;
	padding: 0.25em 1em
}
button:hover,
button:focus,
button:active {
	background: rgb(228, 195, 0);
	transition: background-color 0.2s
}
footer {
	font-size: 0.8em;
	margin-top: 2rem
}
footer p {
	margin: 0
}
.page {
	display: flex;
	flex-direction: column
}
.page-header,
.page-footer {
	flex: none
}
.page-content {
	display: block;
	flex: 1 0 auto
}
#results > div {
	box-sizing: border-box;
	padding: 1em;
}
#results h2 {
	font-size: 1.2em;
	margin: 0
}
#results p {
	margin-top: 0;
}
@media (min-width: 40em) {
	#results {
		align-content: flex-start;
		display: flex;
		flex-flow: row wrap
	}
	#results > div {
		flex: 1 0 50%;
		max-width: 50%
	}
}
@media (min-width: 60em) {
	#results > div {
		flex: 1 0 33%;
		max-width: 33%
	}
}